name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Lint
        uses: pre-commit/action@v3.0.0

  integration:
    name: Integration Test
    strategy:
      matrix:
        os:
          - ubuntu-22.04
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Install python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install ansible
        run: pip3 install ansible

      - name: Test syntax
        run: ansible-playbook main.yml --syntax-check -i inventory

      - name: Test
        run: ansible-playbook main.yml -i inventory
        env:
          ANSIBLE_FORCE_COLOR: '1'
